@import "tailwindcss";

:root {
  --verde-escuro: #61892f;
  --verde: #86c232;
  --grafite: #222629;
  --chumbo: #474b4f;
  --cinza: #6b6e70;
  --bege: #f5f0e6;
  --branco: #fafafa;
  --marrom: #000;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--marrom);
  color: var(--branco);
}
#141414
#1f1f1f